.care-journal {
  margin-top: 2rem;
  &__loading {
    color: #888;
    font-style: italic;
    text-align: center;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    th, td {
      border: 1px solid #e0e0e0;
      padding: 0.5rem 1rem;
      text-align: left;
    }
    th {
      background: #f3f0ff;
      color: #6c2eb7;
      font-weight: 600;
    }
    tr:nth-child(even) {
      background: #faf6ff;
    }
  }
  &__empty {
    color: #bdbdbd;
    text-align: center;
    margin-top: 1rem;
  }
}
