@import 'assets/styles/variables';
@import 'assets/styles/animations';
@import 'assets/styles/mixins';
@import 'assets/styles/tables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f7;
}

body {
  overflow-x: hidden;
}
